In [1]:
%%writefile data/names_with_header.csv
ID,name,position,state,PC_type
10,Andrew,Manager,DE,PC
11,Arun,Manager,NJ,PC
12,Harish,Sales,NJ,MAC
13,Robert,Manager,PA,MAC
14,Laura,Engineer,PA,MAC

Overwriting data/names_with_header.csv

In [2]:
%%writefile data/names_without_header.csv
10,Andrew,Manager,DE,PC
11,Arun,Manager,NJ,PC
12,Harish,Sales,NJ,MAC
13,Robert,Manager,PA,MAC
14,Laura,Engineer,PA,MAC

Overwriting data/names_without_header.csv

## 1단계:원시 데이터 스파크 RDD로 불러온다

In [3]:
from pyspark.sql import HiveContext
from pyspark.sql.types import *
from pyspark.sql import Row
#원시 데이터 스파크 RDD로 불러온다
myRdd = sc.textFile("/Users/park/BigData/data/names_without_header.csv")

In [4]:
print(myRdd.collect())
print(type(myRdd))

['10,Andrew,Manager,DE,PC', '11,Arun,Manager,NJ,PC', '12,Harish,Sales,NJ,MAC', '13,Robert,Manager,PA,MAC', '14,Laura,Engineer,PA,MAC']
<class 'pyspark.rdd.RDD'>

## 2단계:RDD를 생성하는 스파크의 map() 함수 이용해서 csv 데이터를 분리한다

In [5]:
#RDD를 생성하는 스파크의 map() 함수 이용해서 csv 데이터를 분리한다
myRdd1 = myRdd.map(lambda x:x.split(','))
print(myRdd1.collect())

[['10', 'Andrew', 'Manager', 'DE', 'PC'], ['11', 'Arun', 'Manager', 'NJ', 'PC'], ['12', 'Harish', 'Sales', 'NJ', 'MAC'], ['13', 'Robert', 'Manager', 'PA', 'MAC'], ['14', 'Laura', 'Engineer', 'PA', 'MAC']]

## 3단계:스키마 생성

In [13]:
#내 스키마 생성
mySchema=StructType([
    StructField("EmployeeID", StringType(), True),
    StructField("FirstName", StringType(), True),
    StructField("Title", StringType(), True),
    StructField("State", StringType(), True),
    StructField("Laptop", StringType(), True),
])

## 4단계:스키마에 맞춰서 rdd를 dataframe으로 변환

In [14]:
# 스키마에 맞춰서 rdd를 dataframe으로 변환
myDf = spark.createDataFrame(myRdd1,mySchema)

In [15]:
myDf.printSchema()

root
 |-- EmployeeID: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Laptop: string (nullable = true)

## 또 다른 방법1

In [24]:
myRdd = sc.textFile("/Users/park/BigData/data/names_without_header.csv")
myRdd1 = myRdd.map(lambda x:x.split(','))
myRdd1.collect()

[['10', 'Andrew', 'Manager', 'DE', 'PC'],
 ['11', 'Arun', 'Manager', 'NJ', 'PC'],
 ['12', 'Harish', 'Sales', 'NJ', 'MAC'],
 ['13', 'Robert', 'Manager', 'PA', 'MAC'],
 ['14', 'Laura', 'Engineer', 'PA', 'MAC']]

In [27]:
temp = myRdd1.map(lambda x: Row(EmployeeID=int(x[0]), FirstName = x[1]\
                                , Title = x[2],State = x[3],Laptop = x[4]))

In [28]:
myDf1 = temp.toDF()

In [29]:
myDf1.printSchema()
myDf1.collect()

root
 |-- EmployeeID: long (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- Laptop: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Title: string (nullable = true)

[Row(EmployeeID=10, FirstName='Andrew', Laptop='PC', State='DE', Title='Manager'),
 Row(EmployeeID=11, FirstName='Arun', Laptop='PC', State='NJ', Title='Manager'),
 Row(EmployeeID=12, FirstName='Harish', Laptop='MAC', State='NJ', Title='Sales'),
 Row(EmployeeID=13, FirstName='Robert', Laptop='MAC', State='PA', Title='Manager'),
 Row(EmployeeID=14, FirstName='Laura', Laptop='MAC', State='PA', Title='Engineer')]

## 또 다른 방법2

In [30]:
myDf2 = spark.read.format('com.databricks.spark.csv')\
        .options(header='false', infraschema='true').load('data/names_without_header.csv')

In [31]:
myDf2.show()

+---+------+--------+---+---+
|_c0|   _c1|     _c2|_c3|_c4|
+---+------+--------+---+---+
| 10|Andrew| Manager| DE| PC|
| 11|  Arun| Manager| NJ| PC|
| 12|Harish|   Sales| NJ|MAC|
| 13|Robert| Manager| PA|MAC|
| 14| Laura|Engineer| PA|MAC|
+---+------+--------+---+---+

In [32]:
#컬럼명 변경
myDf2 = myDf2.withColumnRenamed("_c0","EmployeeID")\
            .withColumnRenamed("_c1","FirstName")\
            .withColumnRenamed("_c2","Title")\
            .withColumnRenamed("_c3","State")\
            .withColumnRenamed("_c4","Laptop")\

In [33]:
myDf2.show()

+----------+---------+--------+-----+------+
|EmployeeID|FirstName|   Title|State|Laptop|
+----------+---------+--------+-----+------+
|        10|   Andrew| Manager|   DE|    PC|
|        11|     Arun| Manager|   NJ|    PC|
|        12|   Harish|   Sales|   NJ|   MAC|
|        13|   Robert| Manager|   PA|   MAC|
|        14|    Laura|Engineer|   PA|   MAC|
+----------+---------+--------+-----+------+

In [41]:
myDf2.select([myDf2.EmployeeID, myDf2.FirstName]).\
where(myDf2.Laptop == 'PC').show()

+----------+---------+
|EmployeeID|FirstName|
+----------+---------+
|        10|   Andrew|
|        11|     Arun|
+----------+---------+

In [44]:
myDf2.groupby('Laptop').count().show()

+------+-----+
|Laptop|count|
+------+-----+
|    PC|    2|
|   MAC|    3|
+------+-----+

## 5단계:생성 dataframe을 하이브 테이블에 저장

In [18]:
#생성 dataframe을 하이브 테이블에 저장
from pyspark.sql import HiveContext
hc = HiveContext(sc)
myDf.write.format("orc").saveAsTable("employees_ex")