# 201511110 박태현

## 1번

In [52]:
_trainDf = spark.read.format('com.databricks.spark.csv')\
    .options(header='false', inferschema='true')\
    .load(os.path.join("data","testdata.manual.2009.06.14.csv"))
df = _trainDf

In [56]:
df.groupBy('_c0').count().show()

+---+-----+
|_c0|count|
+---+-----+
|  4|  182|
|  2|  139|
|  0|  177|
+---+-----+

In [58]:
df = df.withColumn("label",_trainDf['_c0'])

In [59]:
df.show(5)

+---+---+--------------------+-------+--------+--------------------+-----+
|_c0|_c1|                 _c2|    _c3|     _c4|                 _c5|label|
+---+---+--------------------+-------+--------+--------------------+-----+
|  4|  3|Mon May 11 03:17:...|kindle2|  tpryan|@stellargirl I lo...|    4|
|  4|  4|Mon May 11 03:18:...|kindle2|  vcu451|Reading my kindle...|    4|
|  4|  5|Mon May 11 03:18:...|kindle2|  chadfu|Ok, first assesme...|    4|
|  4|  6|Mon May 11 03:19:...|kindle2|   SIX15|@kenburbary You'l...|    4|
|  4|  7|Mon May 11 03:21:...|kindle2|yamarama|@mikefish  Fair e...|    4|
+---+---+--------------------+-------+--------+--------------------+-----+
only showing top 5 rows

In [60]:
from pyspark.ml.feature import StopWordsRemover
stop = StopWordsRemover(inputCol="wordsReg", outputCol="nostops")

In [61]:
stopwords=list()
_stopwords=stop.getStopWords()
for e in _stopwords:
    stopwords.append(e)

_mystopwords=[":)","of", "@stellargirl","@kenburbary"]
for e in _mystopwords:
    stopwords.append(e)
stop.setStopWords(stopwords)

StopWordsRemover_e874b4386c90

In [62]:
for e in stop.getStopWords():
    print (e,)

i
me
my
myself
we
our
ours
ourselves
you
your
yours
yourself
yourselves
he
him
his
himself
she
her
hers
herself
it
its
itself
they
them
their
theirs
themselves
what
which
who
whom
this
that
these
those
am
is
are
was
were
be
been
being
have
has
had
having
do
does
did
doing
a
an
the
and
but
if
or
because
as
until
while
of
at
by
for
with
about
against
between
into
through
during
before
after
above
below
to
from
up
down
in
out
on
off
over
under
again
further
then
once
here
there
when
where
why
how
all
any
both
each
few
more
most
other
some
such
no
nor
not
only
own
same
so
than
too
very
s
t
can
will
just
don
should
now
i'll
you'll
he'll
she'll
we'll
they'll
i'd
you'd
he'd
she'd
we'd
they'd
i'm
you're
he's
she's
it's
we're
they're
i've
we've
you've
they've
isn't
aren't
wasn't
weren't
haven't
hasn't
hadn't
don't
doesn't
didn't
won't
wouldn't
shan't
shouldn't
mustn't
can't
couldn't
cannot
could
here's
how's
let's
ought
that's
there's
what's
when's
where's
who's
why's
would
:)
of
@stellargirl
@kenburbary

# 2번

In [2]:
from pyspark.sql.types import *
rdd=spark.sparkContext\
    .textFile(os.path.join('data','diabetes.tab.txt'))

In [3]:
rdd.take(3)

['AGE\tSEX\tBMI\tBP\tS1\tS2\tS3\tS4\tS5\tS6\tY',
 '59\t2\t32.1\t101\t157\t93.2\t38\t4\t4.8598\t87\t151',
 '48\t1\t21.6\t87\t183\t103.2\t70\t3\t3.8918\t69\t75']

In [4]:
myRdd=rdd.map(lambda x:x.split('\t'))

In [5]:
myRdd.take(3)

[['AGE', 'SEX', 'BMI', 'BP', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'Y'],
 ['59', '2', '32.1', '101', '157', '93.2', '38', '4', '4.8598', '87', '151'],
 ['48', '1', '21.6', '87', '183', '103.2', '70', '3', '3.8918', '69', '75']]

In [10]:
myDf=spark.createDataFrame(myRdd)

In [9]:
myDf.columns

['_1', '_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '_10', '_11']

In [ ]:
abalone['Male'] = (abalone['SEX']==).astype(int)
abalone['Female'] = (abalone['SEX']=='F').astype(int)
abalone['Infant'] = (abalone['SEX']=='I').astype(int)

# 3

In [48]:
_trainDf3 = spark.read.format('com.databricks.spark.csv')\
    .options(header='false', inferschema='true')\
    .load(os.path.join("data","ds9_xy.csv"))
df3 = _trainDf3

In [49]:
df3.columns

['_c0', '_c1']

In [50]:
import statsmodels.discrete.discrete_model as sm

In [51]:
df3.show()

+----+---+
| _c0|_c1|
+----+---+
|0.24|  0|
|0.25|  0|
|0.28|  1|
| 0.3|  1|
|0.33|  1|
|0.35|  1|
|0.36|  0|
|0.36|  1|
|0.36|  0|
|0.36|  1|
| 0.4|  0|
| 0.4|  1|
|0.41|  0|
|0.42|  1|
|0.43|  0|
|0.47|  1|
|0.51|  1|
|0.53|  1|
|0.56|  0|
|0.57|  0|
+----+---+
only showing top 20 rows

In [63]:
df3.columns

['_c0', '_c1']

In [1]:
import numpy as np
x=np.array([1,2,3,4])
y=np.array([6,5,7,10])