# 1번

In [4]:
myList = ['When I find myself in times of trouble',
'Mother Mary comes to me',
'Speaking words of wisdom, let it be',
'And in my hour of darkness',
'She is standing right in front of me',
'Speking words of wisdom, let it be',
'Let it be',
'Let it be',
'Let it be',
'Let it be',
'Whisper words of wisdom, let it be'
         ]

In [7]:
myRdd = spark.sparkContext.parallelize(myList)

# 1-1

In [11]:
myRdd.take(5)

['When I find myself in times of trouble',
 'Mother Mary comes to me',
 'Speaking words of wisdom, let it be',
 'And in my hour of darkness',
 'She is standing right in front of me']

# 1-2

In [80]:
stopwords = ['I','is','in','to','in','of']
myRdd_stop = myRdd.flatMap(lambda x:x.split()).filter(lambda x: x not in stopwords)
upperRDD =myRdd_stop.map(lambda x: x.upper())
wc = upperRDD.map(lambda x:(x,1)).reduceByKey(lambda x,y:x+y).map(lambda x:(x[1],x[0])).sortByKey(False).collect()
for i in wc:
    print (i[0],i[1])

7 IT
7 LET
7 BE
3 WORDS
3 WISDOM,
2 ME
1 FIND
1 TROUBLE
1 MOTHER
1 MARY
1 MY
1 SHE
1 STANDING
1 SPEKING
1 WHEN
1 COMES
1 FRONT
1 WHISPER
1 MYSELF
1 TIMES
1 SPEAKING
1 AND
1 HOUR
1 DARKNESS
1 RIGHT

# 2

In [82]:
myList1 = ["201411111,lim js,휴먼,58,165",
          "201811111,kim js,휴먼,79,175",
          "201211111,lee js,휴먼,65,180",
          "201511111,choi js,컴과,66,163",
          "201911111,yoon js,컴과,65,158",
          "201311111,park js,경영,100,160",
           ]

In [83]:
myRdd1 = spark.sparkContext.parallelize(myList1)
print (myRdd1.collect())

['201411111,lim js,휴먼,58,165', '201811111,kim js,휴먼,79,175', '201211111,lee js,휴먼,65,180', '201511111,choi js,컴과,66,163', '201911111,yoon js,컴과,65,158', '201311111,park js,경영,100,160']

# 2-1

In [86]:
weight = myRdd1.map(lambda x:x.split(',')).map(lambda x:(x[1],float(x[3]))).collect()
for i in weight:
    print (i[0],i[1]*2.20464462)

lim js 127.86938795999998
kim js 174.16692497999998
lee js 143.3019003
choi js 145.50654491999998
yoon js 143.3019003
park js 220.46446199999997

# 2-2

In [31]:
Q2_2 = myRdd1.map(lambda x:x.split(',')).map(lambda x:(x[2],float(x[3]))).reduceByKey(lambda x,y:x+y).collect()
for i in Q2_2:
    print (i[0],i[1])

컴과 131.0
경영 100.0
휴먼 202.0

# 2-3

In [91]:
a=myRdd1.map(lambda x:x.split(',')).map(lambda x: (x[1],int(x[4])))
a=myRdd1.map(lambda x:x.split(',')).map(lambda x: (x[1],int(x[4])))

In [90]:
a.collect()

[('lim js', 165),
 ('kim js', 175),
 ('lee js', 180),
 ('choi js', 163),
 ('yoon js', 158),
 ('park js', 160)]

# 3

In [37]:
bicycle = spark.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('data/bicycle.csv')

# 3-1

In [38]:
bicycle.show(5)

+-------------------+-----+
|               date|count|
+-------------------+-----+
|2018-01-01 00:00:00| 4950|
|2018-01-02 00:00:00| 7136|
|2018-01-03 00:00:00| 7156|
|2018-01-04 00:00:00| 7102|
|2018-01-05 00:00:00| 7705|
+-------------------+-----+
only showing top 5 rows

# 3-2

In [40]:
import pyspark.sql.functions as F
bicycle = bicycle\
    .withColumn('year', F.year('date'))\
    .withColumn('quarter', F.quarter('date'))\
    .withColumn('month', F.month('date'))

In [41]:
bicycle.groupBy('year').pivot('quarter').agg({"count":"sum"}).show()

+----+-------+-------+-------+-------+
|year|      1|      2|      3|      4|
+----+-------+-------+-------+-------+
|2018| 795769|2860617|3585513|2882975|
|2019|1871935|   null|   null|   null|
+----+-------+-------+-------+-------+

# 3-3

In [42]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [43]:
bicycle.show(5)

+-------------------+-----+----+-----+-------+
|               date|count|year|month|quarter|
+-------------------+-----+----+-----+-------+
|2018-01-01 00:00:00| 4950|2018|    1|      1|
|2018-01-02 00:00:00| 7136|2018|    1|      1|
|2018-01-03 00:00:00| 7156|2018|    1|      1|
|2018-01-04 00:00:00| 7102|2018|    1|      1|
|2018-01-05 00:00:00| 7705|2018|    1|      1|
+-------------------+-----+----+-----+-------+
only showing top 5 rows

In [44]:
bicycle.groupBy('year').pivot('month').agg({"count":"sum"}).show()

+----+------+------+------+------+------+-------+-------+-------+-------+-------+------+------+
|year|     1|     2|     3|     4|     5|      6|      7|      8|      9|     10|    11|    12|
+----+------+------+------+------+------+-------+-------+-------+-------+-------+------+------+
|2018|164367|168741|462661|687885|965609|1207123|1100015|1037505|1447993|1420621|961532|500822|
|2019|495573|471543|904819|  null|  null|   null|   null|   null|   null|   null|  null|  null|
+----+------+------+------+------+------+-------+-------+-------+-------+-------+------+------+