In [1]:
import sys

for i in sys.path:
    print (i)

/private/var/folders/gy/180hq9612vs8x1m58v9gc8bh0000gn/T/spark-864ceb28-66cf-43ac-966f-24fa2891256b/userFiles-18c8e8c7-d162-4bb8-89d6-da9e80292a9c
/Users/park/BigData
/usr/local/Cellar/apache-spark/2.4.4/libexec/python/lib/py4j-0.10.7-src.zip
/usr/local/Cellar/apache-spark/2.4.4/libexec/python
/Users/park/BigData
/usr/local/Cellar/python/3.7.4_1/Frameworks/Python.framework/Versions/3.7/lib/python37.zip
/usr/local/Cellar/python/3.7.4_1/Frameworks/Python.framework/Versions/3.7/lib/python3.7
/usr/local/Cellar/python/3.7.4_1/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload

/usr/local/lib/python3.7/site-packages
/usr/local/lib/python3.7/site-packages/IPython/extensions
/Users/park/.ipython

In [2]:
sc

# RDD

In [4]:
myList=[1,2,3,4,5,6,7]
myRdd1 = spark.sparkContext.parallelize(myList)

In [5]:
myRdd1.collect()

In [6]:
myRdd1.take(3)

# 파일에서 RDD 생성

In [7]:
%%writefile data/ds_spark_wiki.txt
Wikipedia
Apache Spark is an open source cluster computing framework.
아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.
Apache Spark Apache Spark Apache Spark Apache Spark
아파치 스파크 아파치 스파크 아파치 스파크 아파치 스파크
Originally developed at the University of California, Berkeley's AMPLab,
the Spark codebase was later donated to the Apache Software Foundation,
which has maintained it since.
Spark provides an interface for programming entire clusters with
implicit data parallelism and fault-tolerance.

Overwriting data/ds_spark_wiki.txt

In [8]:
myRdd2=spark.sparkContext.textFile(os.path.join("data","ds_spark_wiki.txt"))

In [9]:
myRdd2.collect()

# csv에서 RDD 생성

In [10]:
%%writefile data/ds_spark_2cols.csv
35, 2
40, 27
12, 38
15, 31
21, 1
14, 19
46, 1
10, 34
28, 3
48, 1
16, 2
30, 3
32, 2
48, 1
31, 2
22, 1
12, 3
39, 29
19, 37

Overwriting data/ds_spark_2cols.csv

In [11]:
myRdd4 = spark.sparkContext.textFile(os.path.join("data","ds_spark_2cols.csv"))

In [12]:
myRdd4.collect()

In [14]:
print (type(myRdd4))
myList=myRdd4.take(5)
print (type(myList))

<class 'pyspark.rdd.RDD'>
<class 'list'>

In [15]:
myRdd5 = myRdd4.map(lambda line: line.split(','))
myRdd5.take(5)

In [18]:
celsius = [39.2, 36.5, 37.3, 37.8]
def c2f(c):
    return (float(9)/5)*c + 32
f=map(c2f, celsius)
myList = list(f)
print (myList)

[102.56, 97.7, 99.14, 100.03999999999999]

In [20]:
y=lambda x:x*2
print (y(1))

2

In [22]:
celsius = [39.2, 36.5, 37.3, 37.8]
myList1 = list(map(lambda x:(float(9)/5)*x + 32,celsius))
print (myList1)

[102.56, 97.7, 99.14, 100.03999999999999]

In [24]:
sentence ="Hello World"
myList2=list(map(lambda x:x.split(),sentence))
print(myList2)

[['H'], ['e'], ['l'], ['l'], ['o'], [], ['W'], ['o'], ['r'], ['l'], ['d']]

In [26]:
sentence = ["Hello World","Good Morning"]
myList3 = list(map(lambda x:x.split(),sentence))
print (myList3)

[['Hello', 'World'], ['Good', 'Morning']]

# filter()

In [28]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = list(filter(lambda x: x % 2, fib))
print (result)

[1, 1, 3, 5, 13, 21, 55]

In [37]:
myRdd2.collect()

In [38]:
myRdd_spark=myRdd2.filter(lambda line: "Spark" in line)
print ("How many lines having 'Spark': ",myRdd_spark.count())

How many lines having 'Spark':  4

In [41]:
myRdd_unicode = myRdd2.filter(lambda line: u"스파크" in line)
print (myRdd_unicode.count())
myRdd_unicode.collect()

2

# stopwords

In [42]:
stopwords = ['is','am','are','the','for','a', 'an', 'at']
myRdd_stop = myRdd2.flatMap(lambda x:x.split()).filter(lambda x: x not in stopwords)

In [43]:
myRdd_stop.collect()

In [45]:
for words in myRdd_stop.collect():
    print (words),

Wikipedia
Apache
Spark
open
source
cluster
computing
framework.
아파치
스파크는
오픈
소스
클러스터
컴퓨팅
프레임워크이다.
Apache
Spark
Apache
Spark
Apache
Spark
Apache
Spark
아파치
스파크
아파치
스파크
아파치
스파크
아파치
스파크
Originally
developed
University
of
California,
Berkeley's
AMPLab,
Spark
codebase
was
later
donated
to
Apache
Software
Foundation,
which
has
maintained
it
since.
Spark
provides
interface
programming
entire
clusters
with
implicit
data
parallelism
and
fault-tolerance.

# reduce()

In [30]:
from functools import reduce
reduce(lambda x, y: x+y, range(1,101))

In [34]:
nRdd = spark.sparkContext.parallelize([1, 2, 3, 4])
squared = nRdd.map(lambda x: x * x)
print (squared)
squared.collect()

PythonRDD[15] at RDD at PythonRDD.scala:53

In [35]:
myRdd100 = spark.sparkContext.parallelize(range(1,101))
myRdd100.reduce(lambda x,y: x+y)

In [36]:
print ("sum: ",nRdd.sum())
print ("min: ",nRdd.min())
print ("max: ", nRdd.max())
print ("standard deviation:", nRdd.stdev())
print ("variance: ", nRdd.variance())

sum:  10
min:  1
max:  4
standard deviation: 1.118033988749895
variance:  1.25

# foreach()

In [48]:
def f(x): print(x)
spark.sparkContext.parallelize([1, 2, 3, 4, 5]).foreach(f)

# map 함수로 단어 분리

In [49]:
myRdd2=spark.sparkContext.textFile(os.path.join("data","ds_spark_wiki.txt"))

In [50]:
sentences=myRdd2.map(lambda x:x.split(" "))

In [51]:
sentences.count()

In [56]:
print(sentences)
#sentences.collect()

PythonRDD[36] at RDD at PythonRDD.scala:53

In [57]:
def mySplit(x):
    return x.split(" ")
sentences2=myRdd2.map(mySplit)

In [58]:
sentences2.count()

In [59]:
myRdd2.map(lambda s:len(s)).collect()

In [60]:
myList=["this is","a line"]
_rdd=spark.sparkContext.parallelize(myList)
wordsRdd=_rdd.map(lambda x:x.split())
print (wordsRdd.collect())

[['this', 'is'], ['a', 'line']]

In [62]:
repRdd=_rdd.map(lambda x:x.replace("a","AA"))
#repRdd.take(10)
repRdd.collect()

In [64]:
upperRDD =wordsRdd.map(lambda x: x[0].upper())
print (upperRDD.collect())

['THIS', 'A']

In [66]:
upper2RDD =wordsRdd.map(lambda x: [i.upper() for i in x])
print (upper2RDD.collect())

[['THIS', 'IS'], ['A', 'LINE']]

In [67]:
wordsLength = wordsRdd.map(len).collect()
print (wordsLength)

[2, 2]

# 파일에 쓰기

In [69]:
_testList=[("key1",1),("key1",1),("key1",1),("key2",1),("key2",1),
           ("key1",1),("key2",1),
           ("key1",1),("key1",1),("key2",1),("key2",1)]
_testRdd=spark.sparkContext.parallelize(_testList)

In [70]:
_testRdd.collect()

In [71]:
_testRdd.groupBy(lambda x:x[0]).collect()

In [72]:
_testRdd.groupBy(lambda x:x[0]).mapValues(lambda x: list(x)).collect()

In [73]:
_testRdd.groupBy(lambda x:x[0]).mapValues(list).collect()

# pair rdd

In [74]:
_testList=[("key1",1),("key1",1),("key1",1),("key2",1),("key2",1),
           ("key1",1),("key2",1),
           ("key1",1),("key1",1),("key2",1),("key2",1)]
_testRdd=spark.sparkContext.parallelize(_testList)

In [75]:
_testRdd.keys().collect()

In [76]:
_testRdd.reduceByKey(lambda x,y:x+y).collect()

In [77]:
_testRdd.groupByKey().collect()

In [78]:
_testRdd.groupByKey().mapValues(list).collect() # list is a function, that is, list()

# 단어빈도 예제

In [79]:
myRdd2=spark.sparkContext.textFile(os.path.join("data","ds_spark_wiki.txt"))

In [80]:
myRdd2.collect()

In [90]:
myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .groupByKey()\
    .collect()

In [83]:
myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .groupByKey()\
    .mapValues(sum)\
    .take(10)

In [87]:
def f(x): return len(x)
# myRdd2\
#     .flatMap(lambda x:x.split())\
#     .map(lambda x:(x,1))\
#     .groupByKey()\
#     .mapValues(f)\
#     .sortByKey(True)\
#     .take(10)
wc = myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .groupByKey()\
    .mapValues(f)\
    .sortByKey(True)\
    .take(10)
for e in wc:
    print (e)

('AMPLab,', 1)
('Apache', 6)
("Berkeley's", 1)
('California,', 1)
('Foundation,', 1)
('Originally', 1)
('Software', 1)
('Spark', 7)
('University', 1)
('Wikipedia', 1)

In [8]:
myRdd3=spark.sparkContext.textFile(os.path.join("data","ds_bigdata_wiki.txt"))

In [93]:
for i in myRdd3.take(2):
    print (i)

Big data
활용사례 및 의의[편집]

In [94]:
wc3=myRdd3\
    .flatMap(lambda x:x.split(" "))\
    .take(10)

In [95]:
for i in wc3:
    print (i),

Big
data
활용사례
및
의의[편집]
정치
및
사회[편집]
2008년
미국

In [96]:
wc3=myRdd3\
    .map(lambda x:x.split(" "))\
    .take(3)

In [97]:
for i in wc3:
    print (i),

['Big', 'data']
['활용사례', '및', '의의[편집]']
['정치', '및', '사회[편집]']

In [99]:
print (wc3)

[['Big', 'data'], ['활용사례', '및', '의의[편집]'], ['정치', '및', '사회[편집]']]

# stopwords 제거

In [10]:
stopwords = [u'및','big','is','am','are','the','for','a']
wc3_stop1 = myRdd3\
    .flatMap(lambda x: x.split(' '))\
    .filter(lambda x: x.lower() not in stopwords)\
    .take(10)

In [11]:
for i in wc3_stop1:
    print (i)

data
활용사례
의의[편집]
정치
사회[편집]
2008년
미국
대통령
선거[편집]
2008년

In [102]:
wc3=myRdd3\
    .map(lambda x:(x,1))\
    .take(3)
for i in wc3:
    print (i)

('Big data', 1)
('활용사례 및 의의[편집]', 1)
('정치 및 사회[편집]', 1)

In [ ]:
myRdd2\
    .flatMap(lambda x:x.split())\
    .map(lambda x:(x,1))\
    .groupByKey()\
    .mapValues(sum)\
    .take(10)

In [109]:
stopwords = [u'및',u'등', u'수', 'big','is','am','are','the','for','a', 'an','the']
wc3=myRdd3\
    .flatMap(lambda x:x.split(" "))\
    .filter(lambda x: x.lower() not in stopwords)\
    .map(lambda x:(x,1))\
    .reduceByKey(lambda x,y:x+y)\
    .map(lambda x:(x[1],x[0]))\
    .sortByKey(False)\
    .take(15)

In [110]:
print (type(wc3))
for i in wc3:
    print (i[0],i[1])

<class 'list'>
23
21 데이터
18 데이터를
14 빅
9 있다.
8 데이터의
7 미국
7 통해
6 유권자
6 대한
6 선거
6 빅데이터
5 활용한
5 소셜
5 있는

# RDD 생성

In [169]:
marks=[
    "'김하나','English', 100",
    "'김하나','Math', 80",
    "'임하나','English', 70",
    "'임하나','Math', 100",
    "'김갑돌','English', 82.3",
    "'김갑돌','Math', 98.5"
]
_marksRdd=spark.sparkContext.parallelize(marks)

In [170]:
_marksRdd.collect()

### 문제 3-1: 이름으로 합계를 구해보자. 올바른 출력은 다음과 같다.

In [171]:
_marksbyname=_marksRdd\
    .map(lambda x:x.split(','))\
    .map(lambda x: (x[0],float(x[2])))\
    .reduceByKey(lambda x,y:x+y)\
    .collect()
for i in _marksbyname:
    print (i[0],i[1])

'임하나' 170.0
'김하나' 180.0
'김갑돌' 180.8

### 문제 3-2: 과목으로 합계를 계산해 보자. 출력은 다음과 같이 나와야 한다.

In [172]:
# marks by subject
_marksbysubject=_marksRdd\
    .map(lambda x:x.split(','))\
    .map(lambda x: (x[1],float(x[2])))\
    .reduceByKey(lambda x,y:x+y)\
    .collect()
for i in _marksbysubject:
    print (i[0],i[1])

'Math' 278.5
'English' 252.3

### 문제 3-3: 이름으로 합계과 개수를 구해보자. 출력은 다음과 같이 계산된다.
'임하나' (170.0, 2)

'김하나' (180.0, 2)

'김갑돌' (180.8, 2)

In [173]:
# marks by name
_marksbyname2=_marksRdd\
    .map(lambda x:x.split(','))\
    .map(lambda x: (x[0],float(x[2])))

In [174]:
# sum, counts by name
sum_counts = _marksbyname2.combineByKey(
    (lambda x: (x, 1)), # the initial value, with value x and count 1
    (lambda acc, value: (acc[0]+value, acc[1]+1)), # how to combine a pair value with the accumulator: sum value, and increment count
    (lambda acc1, acc2: (acc1[0]+acc2[0], acc1[1]+acc2[1])) # combine accumulators
)

In [175]:
sum_counts.collect()

In [178]:
for i in sum_counts.collect():
    for each in i:
        print (each,end='')
    print ()

'임하나'(170.0, 2)
'김하나'(180.0, 2)
'김갑돌'(180.8, 2)

### 문제 3-4: 이름으로 평균을 계산해 보자. 앞서 3-3에서 사용했던 결과를 활용하고, 올바른 출력은 다음과 같다.

In [177]:
# average
averageByKey = sum_counts\
    .map(lambda key,(sum1,count)):(key,float(sum1)/count)\
    .collect()

SyntaxError: invalid syntax (<ipython-input-177-b279a0fc80ed>, line 3)

In [179]:
averageByKey = sum_counts.mapValues(lambda x:x[0]/x[1]).collect()

In [180]:
for i in averageByKey:
    for j in i:
        print (j,end='')
    print ()

'임하나'85.0
'김하나'90.0
'김갑돌'90.4

## 전철

In [128]:
_sub=["20150101,2호선,0236,영등포구청,6199,6219",
"20150101,2호선,0237,당산,7982,8946",
"20150101,2호선,0238,합정,17406,15241",
"20150101,3호선,0309,지축,515,538",
"20150101,3호선,0310,구파발,6879,6260",
"20150101,3호선,0311,연신내,20031,19470",
"20150101,3호선,0312,불광,9519,11029",
"20150101,4호선,0425,회현,7465,7574",
"20150101,4호선,0426,서울역,3943,10823",
"20150101,경부선,1002,남영,4340,4535",
"20150101,경부선,1003,용산,28980,27684",
"20150101,경부선,1004,노량진,23021,23862",
"20150101,경부선,1005,대방,6360,6476",
"20150101,경부선,1006,영등포,37247,36102",
"20150101,경원선,1008,이촌,1940,1507",
"20150101,경원선,1009,서빙고,911,1000",
"20150101,경원선,1010,한남,1885,1863",
"20150101,경원선,1011,옥수,43,37"]

In [129]:
_subRdd = spark.sparkContext.parallelize(_sub)

In [130]:
_subRdd.map(lambda x:x.split(',')).map(lambda x:int(x[4])).collect()

In [183]:
_subLineByPassengers=_subRdd.map(lambda x:x.split(',')).map(lambda x: (x[1],int(x[4])))
sum_counts1 = _subLineByPassengers.combineByKey(
    (lambda x: (x, 1)), # the initial value, with value x and count 1
    (lambda acc, value: (acc[0]+value, acc[1]+1)), # how to combine a pair value with the accumulator: sum value, and increment count
    (lambda acc1, acc2: (acc1[0]+acc2[0], acc1[1]+acc2[1])) # combine accumulators
)

In [184]:
for i in sum_counts1.collect():
    for each in i:
        print (each,end='')
    print ()

2호선(31587, 3)
3호선(36944, 4)
4호선(11408, 2)
경원선(4779, 4)
경부선(99948, 5)

In [185]:
for i in sum_counts1.collect():
    print (i[0],i[1][0],i[1][1],i[1][0]/i[1][1])

2호선 31587 3 10529.0
3호선 36944 4 9236.0
4호선 11408 2 5704.0
경원선 4779 4 1194.75
경부선 99948 5 19989.6

In [186]:
#averageByKey = sum_counts.map(lambda (key,(sum,count)):(key,float(sum)/count))
#averageByKey = sum_counts.map(lambda(key[0],key[1][0],key[1][1]):(key[0],key[1][0]/key[1][1])
averageByKey = sum_counts1.mapValues(lambda x:x[0]/x[1]).collect()

In [188]:
for i in averageByKey:
    for j in i:
        print (j,end=' ')
    print ()

2호선 10529.0
3호선 9236.0
4호선 5704.0
경원선 1194.75
경부선 19989.6

# 단어

In [1]:
wc = spark.sparkContext.textFile(os.path.join("data","ds_spark_wiki.txt"))\
    .flatMap(lambda x: x.split(' '))\
    .map(lambda x: (x.lower().rstrip().lstrip().rstrip(',').rstrip('.'), 1))

In [2]:
wc.sortByKey().take(5)

### 1

In [3]:
wcReduceByKey = wc.reduceByKey(lambda x,y:x+y)

In [4]:
wcReduceByKey.sortByKey().take(10)

### 2

In [5]:
wcGroupByKey = wc.groupByKey().mapValues(sum)

In [6]:
wcGroupByKey.sortByKey().take(10)

### 3

In [197]:
wcGroupByKey2 = wc.groupByKey().map(lambda(x,v):(x,len(v)))

SyntaxError: invalid syntax (<ipython-input-197-348a2a66b55e>, line 1)

In [156]:
wcGroupByKey2.sortByKey().take(10)

NameError: name 'wcGroupByKey2' is not defined

### 4

In [157]:
wc = spark.sparkContext.textFile("data/ds_spark_wiki.txt")\
    .map(lambda x: x.replace(',',' ').replace('.',' ').replace('-',' ').lower())\
    .map(lambda x:x.split())\
    .map(lambda x:[(i,1) for i in x])

In [159]:
for e in wc.collect():
    print (e)

[('wikipedia', 1)]
[('apache', 1), ('spark', 1), ('is', 1), ('an', 1), ('open', 1), ('source', 1), ('cluster', 1), ('computing', 1), ('framework', 1)]
[('아파치', 1), ('스파크는', 1), ('오픈', 1), ('소스', 1), ('클러스터', 1), ('컴퓨팅', 1), ('프레임워크이다', 1)]
[('apache', 1), ('spark', 1), ('apache', 1), ('spark', 1), ('apache', 1), ('spark', 1), ('apache', 1), ('spark', 1)]
[('아파치', 1), ('스파크', 1), ('아파치', 1), ('스파크', 1), ('아파치', 1), ('스파크', 1), ('아파치', 1), ('스파크', 1)]
[('originally', 1), ('developed', 1), ('at', 1), ('the', 1), ('university', 1), ('of', 1), ('california', 1), ("berkeley's", 1), ('amplab', 1)]
[('the', 1), ('spark', 1), ('codebase', 1), ('was', 1), ('later', 1), ('donated', 1), ('to', 1), ('the', 1), ('apache', 1), ('software', 1), ('foundation', 1)]
[('which', 1), ('has', 1), ('maintained', 1), ('it', 1), ('since', 1)]
[('spark', 1), ('provides', 1), ('an', 1), ('interface', 1), ('for', 1), ('programming', 1), ('entire', 1), ('clusters', 1), ('with', 1)]
[('implicit', 1), ('data', 1), ('parallelism', 1), ('and', 1), ('fault', 1), ('tolerance', 1)]